<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<targets>
		<target name="remove_log"
				xsi:type="File"
				fileName="C:\\remove.log"
				layout="${longdate} ${level} ${message} ${exception:format=tostring}"
				archiveAboveSize="5000"
				maxArchiveFiles="2"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="remove_log" />
	</rules>
</nlog>